<h1>Stupid Coaching</h1>

<blockquote class="blockquote">
  <p><%= @message %></p>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">You</cite>
  </figcaption>
</blockquote>

<blockquote class="blockquote alert-warning">
  <p><%= @response %></p>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Your coach</cite>
  </figcaption>
</blockquote>
<div>
  <%= link_to "Ask a new question", ask_path %>
</div>
